body,
h1,
h2,
h3,
h4,
main,
section,
article,
p {
  margin: 0;
  padding: 0;
}
/*Основные параметры*/
body {
  /*Размеры*/
  min-width: 1440px;
  /*Текст*/
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 32px;
  text-align: justify;
  font-weight: 400;
  color: #000;
}
/*Стандартный контейнер*/
.container {
  /*Размеры*/
  width: 1440px;
  /*Стандартное положение*/
  margin: 0 auto;
  padding: 0;
}
/*Шапка*/
.head {
  /*Градиент*/
  background: linear-gradient(90.59deg, #018c96 43.08%, #016a66 70.49%);
  /*Текст*/
  color: #f1f1f0;
}
.logo {
  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 70px;
  max-height: 142px;
  max-width: 542;
}
/*Слоган*/
.head-slogan {
  /*Текст*/
  font-size: 30px;
  font-style: italic;
  /*Положение*/
  text-align: right;
  margin-right: 136px;
}
/*Навигация*/
.navigation {
  background: #018c96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}
/*Дизайн навигации*/
.navigation button {
  background: #018c96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0;
  width: 244px;
  margin: 0 18px;
}
/*Положение текста в кнопке*/
.button {
  margin: 16px auto;
}
/*Текст навигации*/
.navigation button h2 {
  color: #F6EBF9;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.main {
  padding-top: 132px;
}
.main .container {
  padding: 0 102px;
  box-sizing: border-box;
}
.about-book {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 34px;
  text-align: center;
}
.info-book {
  margin-bottom: 70px;
  display: flex;
}
.picture {
  width: 440px;
  height: 616px;
}
.description {
  margin-left: 46px;
}
.name-book {
  text-align: center;
  margin: 0 auto 22px;
  line-height: 38px;
}
.text-book {
  font-size: 28px;
  line-height: 40px;
}
.charpet {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 500;
}
.list {
  margin-left: 10px;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}
.list-item {
  color: #000;
  text-decoration: none;
}
.download {
  margin: 70px 0 192px;
}
.download-buttom {
  padding: 20px 68px;
  background-color: #efb52b;
  color: #F6EBF9;
  font-size: 30px;
  line-height: 36px;
  border: 0;
}
.footer {
  background: linear-gradient(97.48deg, #018c96 39.59%, #016a66 58.05%);
  padding: 74px 598px;
}
.copy-right {
  color: #F6EBF9;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
