body,
h1,
h2,
h3,
h4,
main,
section,
article,
p,
li,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}
/*Основные параметры*/
body {
  display: flex;
  flex-direction: column;
  /*Текст*/
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  text-align: justify;
  font-weight: 400;
  color: #121215;
}
/*Стандартный контейнер*/
.container {
  /*Размеры*/
  width: 1440px;
  /*Стандартное положение*/
  margin: 0 auto;
  padding: 0;
}
/*Шапка*/
.head {
  /*Градиент*/
  background: linear-gradient(90.59deg, #018c96 43.08%, #016a66 70.49%);
}
.logo {
  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 70px;
}
.struct-nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
/*Дизайн навигации*/
.nav {
  font-family: fantasy;
  background: #018c96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  flex-basis: 244px;
  text-align: center;
}
.button-nav {
  border-bottom: 5px solid #018c96;
}
.button-nav:hover {
  border-bottom: 5px solid #016a66;
}
.button-text {
  display: block;
  padding: 16px 0;
  color: #f6ebf9;
  text-decoration: none;
}
.button-text-nav {
  font-size: 20px;
  font-weight: medium;
}
.main {
  margin-top: 122px;
  display: flex;
  justify-content: center;
}
.main .container {
  padding-left: 38px;
  box-sizing: border-box;
}
.struct-main {
  display: flex;
  flex-direction: column;
}
.info-book {
  margin-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
}
.about-book {
  flex-basis: 100%;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 68px;
  text-align: center;
}
.picture {
  flex: 1;
  object-fit: cover;
}
.description {
  margin-left: 120px;
  flex: 5;
}
.name-book {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 0 auto 50px;
  line-height: 38px;
}
.description-text {
  margin-left: 52px;
  font-weight: 300;
  line-height: 40px;
}
.list-charpets {
  margin-bottom: 100px;
}
.charpet {
  line-height: 36px;
  margin-bottom: 32px;
  font-weight: 500;
}
.list {
  font-size: 26px;
  margin-left: 40px;
  font-weight: 300;
  line-height: 40px;
  color: #121215;
}
.list-item {
  color: #121215;
  text-decoration: none;
}
.download {
  display: flex;
  margin-bottom: 390px;
}
.button-download {
  background-color: #efb52b;
  border-radius: 8px;
  transition: background 0.15s ease-out 0.05s;
}
.button-text-down {
  font-size: 30px;
  line-height: 36px;
}
.button-download:hover {
  background: #018c96;
}
.footer {
  background: linear-gradient(97.48deg, #018c96 39.59%, #016a66 58.05%);
  padding: 40px 0 74px;
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.footer-item {
  font-family: fantasy;
  color: rgb(246, 235, 249);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.copy-right {
  background: url("img/copyright.svg") no-repeat left top;
  background-size: 18px 18px;
  padding-left: 24px;
}
.contacts-list {
  list-style: none;
}
.contact-name {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #f6ebf9;
}
.vk {
  background: url("img/vk.svg") no-repeat left center;
  background-size: 26px 26px;
  padding-left: 34px;
}
.inst {
  background: url("img/instagram.svg") no-repeat left center;
  background-size: 26px 26px;
  padding-left: 34px;
}
.mail {
  background: url("img/mail.svg") no-repeat left center;
  background-size: 26px 26px;
  padding-left: 34px;
}
